name: Graph Email API CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Create .env file
      run: |
        echo "AZURE_CLIENT_SECRET=${{ secrets.AZURE_CLIENT_SECRET }}" >> .env
        echo "AZURE_CLIENT_ID=${{ secrets.AZURE_CLIENT_ID }}" >> .env
        echo "AZURE_TENANT_ID=${{ secrets.AZURE_TENANT_ID }}" >> .env
        echo "AZURE_REDIRECT_URI=${{ secrets.AZURE_REDIRECT_URI }}" >> .env
        echo "AZURE_GRAPH_USER_SCOPES=${{ secrets.AZURE_GRAPH_USER_SCOPES }}" >> .env

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.in
        pip install pylint pytest pytest-asyncio pytest-cov bandit

    - name: Run pylint
      run: |
        pylint app/ --rcfile=pylintrc

    - name: Run security checks with bandit
      run: |
        bandit -r app/ -c pyproject.toml

    - name: Run tests with coverage
      env:
        PYTHONPATH: ${{ github.workspace }}  
      run: |
        pytest test/ --cov=app --cov-report=xml